*{margin: 0;
    padding: 0;

}
.menu-fun {
    background: url('../img/Design\ sem\ nome.png') center/cover no-repeat fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  a{
    color: white;
}

a:hover{
    color: rgb(11, 117, 82);
    transition: 0.3s all;
    background-color: rgb(255, 255, 255);
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
li{
    display:inline-block;
    margin-right: 50px;
    margin-left: 50px;
}
#infant-btn{
    border: 2px solid rgb(18, 177, 124);
    padding: 10px;
    border-radius: 15px;

}
#masc-btn{
    border: 2px solid rgb(18, 177, 124);
    padding: 10px;
    border-radius: 15px;

}
#fem-btn{
    border: 2px solid rgb(18, 177, 124);
    padding: 10px;
    border-radius: 15px;

}
body{
    background-color:rgb(4, 15, 26);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    margin: 0;
}
.menu-btn {
    display: flex;
    justify-content: space-between;
    
    height: 50px;
    margin: 0 auto;
    
}
.product{
    text-align: center;
}
.oferta {

    
        margin-top: 50px;
}
      
      .shop-content {
        align-items: center;
        margin-top: 10%;
        margin-bottom: 50px;
        margin-left: 100px; /* Adiciona margem à esquerda */
        margin-right: 100px; /* Adiciona margem à direita */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        gap: 2.0rem;
      }
      
      @media screen and (min-width: 768px) {
        .shop-content {
          grid-template-columns: repeat(4, minmax(220px, auto));
        }
    
        /*card*/
    
          
      }
      /*cart*/
      .cart{ position: fixed;
        top: 0;
        right: 0;
        width: 360px;
        min-height: 100vh;
        padding: 20px;
        background: black;
        box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    }
      
      .title-sel {
        text-align: center;
        margin-top: 5px; /* Ajuste conforme necessário para posicionar no meio */;
        position: relative;
        z-index: 1;
      }
      
      .caixa-prod {
        position: relative;
        margin-bottom: 10px; /* Adiciona espaço abaixo da div caixa-prod */
      }
      
      .caixa-prod:hover {
        padding: 10px;
        box-shadow: inset 1px 1px 2px #f0f, inset 1px -1px 3px #0340d0,
          inset -1px 1px 2px #efff0c, inset -1px -1px 2px #ff0000;
        transition: 0.4s;
        border-radius: 20px;
      }
      
      .product-img {
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 8px;
        border-radius:20px ;
      }
      
      .product-img:hover{border-radius: 20px;
    }
    
      .product-title {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
    
    .price{
        font-weight: 500;
    }
    .add-cart {
        position: absolute;
        bottom: 0;
        right: 0;
        background: black;
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 0 0 10px 0; 
    }
    
    .add-cart:hover{
        background: hsl(249, 32%, 17%);
    }

  .menu-fun {
    background: url('../Avaliativa-14-03/img/Design\ sem\ nome.png') center/cover no-repeat fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .logo {
    max-height: 100px;
    margin: 10px;
    position: absolute;
    top: 5;
    left: 10;
   
  }